.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.pagination span {
  font-weight: bold;
  color: white;
}

.pagination button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background-color: #2a5298;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.pagination button:hover {
  background-color: #1e3c72;
}
